@model RskAnalysis.CORE.Models.Businesses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Businesses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector.SectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BusinessId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
