@model RskAnalysis.CORE.Models.Partners

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partners</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business.BusinessName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartnerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
